@import "variables";
@import "bootstrap";
@import "bootstrap-sprockets";
@import "bootstrap-social";
@import "jasny-bootstrap";
@import "supersized";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "jTinder";
@import "styles";
@import "tools";
@import "sweetalert"


