// Spinner CSS3
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.center_spinner {
	width: 100px;
	height: 60px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: -30px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}




// BODY

body {
	padding-top: 90px;
	overflow: hidden;
	background-color: white;
}

.container {
	max-width: 400px;
}

// PROFILE

.description {
  padding-left: 20px;
  padding-right: 20px;
}

.profile-box {
 box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
   border: 1px solid #fff;
  border: 1px solid #dfdfdf;
  border: 1px solid rgba(96, 96, 96, 0.2);
  padding: 0px 0px 30px 0px;
  border-radius: 10px;
  position: relative;
  background: #fff;
  width: 100%;
}

.profile-box .img {
  height: 200px;
  width: 100%;
  margin-bottom: 5px;
  position: relative;
  -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  -webkit-transform-style: preserve-3d;
   background-size: cover;
   border-radius: 10px;
}


// HOME PAGE

.home-information {
	height: 300px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
}

.bg-dark {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0,0.3);
}

.slogan {
	color: white;
	font-family: 'Raleway', "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 500;
	font-size: 45px;
	line-height: 1.2em;
	padding: 10px 0 10px;
	text-align: center;
}




// TINDER BACKGROUND LANDING

body {
	font-family: 'Varela Round', sans-serif;
}

p, ol, ul, td {
	font-family: 'Varela Round', sans-serif;
}





// TINDER PLUGIN

.user-name {
	text-align: left;
	font-size: 21px;
	padding-top: 14px;
	padding-left: 20px;
}

.user-name a {
	color: #222222 !important;
	transition: all 0.3s ease-out;
}

.user-name a:hover {
	text-decoration: none;
	color: $brand-primary !important;
	transition: all 0.3s ease-out;
}

.user-location {
	text-align: right;
	font-size: 21px;
	padding-top: 14px;
	padding-right: 20px;
	color: gray;
}

.wrap {
	height: 400px;
	padding: 15px;
	width: 100%;
}

#tinderslide {
	width: 100%;
}

#tinderslide li {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.04);
	padding: 0px 0px 30px 0px;
	background: #FFF;
	border-radius: 10px;
}

.actions a i {
	font-size: 40px;
}

.actions a {
	background-color: white;
	background-image: none;
	margin: 15px;
	width: 120px;
	height: 120px;
	border-radius: 100%;
	border: 10px solid #e8e8e8;
	box-shadow: none;
}

.actions .dislike i {
	font-size: 50px;
	color: #fc6d5c;
}

.actions .dislike {
	line-height: 120px;
}

.actions .like {
	line-height: 120px;
}

.actions .like i {
	color: #5adfa1;
}




// NAVBAR

.navmenu-default, .navbar-default .navbar-offcanvas {
	background-color: #282828;
}

.navmenu-nav li.active a i {
	border: 2px solid $brand-primary;
	border-radius: 100%;
	height: 40px;
	width: 40px;
	text-align: center;
	color: white;
	line-height: 36px;
	margin-right: 5px;
	font-size: 16px;
	color: $brand-primary;
}

.navmenu-nav li.active a {
	color: $brand-primary !important;
	background-color: transparent !important;
}

//////////
.navmenu-nav li.active2 a i {
	border: 2px solid $brand-primary;
	border-radius: 100%;
	height: 40px;
	width: 40px;
	text-align: center;
	color: white;
	line-height: 36px;
	margin-right: 5px;
	font-size: 16px;
	color: $brand-primary;
}

.navmenu-nav li.active2 a {
	color: $brand-primary !important;
	background-color: transparent !important;
}
////////////

.navmenu-nav li a i {
	border: 2px solid white;
	border-radius: 100%;
	height: 40px;
	width: 40px;
	text-align: center;
	color: white;
	line-height: 36px;
	margin-right: 5px;
	font-size: 16px;
}

.navmenu-nav li a {
	color: white !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: initial;
	color: $brand-primary;
	transition: all 0.3s ease-out;
}

.navbar-toggle {
	display: block;
	float: left;
	border: none;
}

.navbar-brand
{
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	text-align: center;
	margin: auto;
	float: initial;
	padding: 0;
	line-height: 0px;
	height: 0px;
	z-index: 5;
}

.navbar-brand > img {
	height: 36px;
	margin-top: 17px;
	display: inline-block;
}

.button-nav {
	font-size: 36px;
	color: #cccccc;
	margin: 4px;
}

.navbar-default {
	background-color: white;
}